@import "styles/style";

.header {
  padding: 0 20px;
  background-color: $white-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $light-grey-border;
  margin-bottom: 10px;
}

.company {
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 45px;
  color: black !important;
}

.navLink {
  display: inline-block;
  transition: all $primary-transition-style;
  color: $accent-color;
  font-size: 20px;

  &:hover {
    transform: scale(1.1);
  }

  &:not(:last-child) {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid $accent-color;
  }
}

.logo {
  max-width: 240px;
}
