$accent-color: #00673a;
$accent-hover: #015c35;
$white-bg: #ffffff;
$grey-bg: #f5f4fa;
$dark-grey-border: #353538;
$light-grey-border: #ececec;
$warning-color: #b00202;

$black-text: #212121;
$white-text: #ffffff;
$grey-text: #757575;

$primary-shadow: 0px 8px 8px rgba(0, 0, 0, 0.14);
$primary-transition-style: .2s ease-in-out;