@import "styles/style";

.formWrapper {
  margin-bottom: 60px;
}

.formText {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
  color: $accent-color;
  text-align: center;
}

.input {
  @extend %input;
  padding: 12px 25px 12px 25px;
  text-align: center;
  color: $grey-text;
  width: 380px;
}

.button {
  @extend %button;
  font-size: 18px;
  background-color: $accent-color;
  color: $white-text;
  margin-left: 10px;

  &:hover,
  &:focus {
    background-color: $accent-hover;
  }
}
